03_Relevant_Baseline.ipynb
Untitled.ipynb
03_Relevant_Baseline.ipynb
Untitled.ipynb
Sector
train_ds
valid_ds
sector_pred.csv
valid_ds_explode
train_ds_explode
train_ds
valid_ds
valid_ds_04
train_ds_04
00_Experimenting.ipynb
01_Preprocessing.ipynb
03_Relevant_Baseline.ipynb
